<!-- Main content -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Article Edit</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Article</h3>
            </div>
            <div class="card-body">
              <% if flash[:errors] %>
                <% flash[:errors].each do |error| %>
                  <p style="color: red"><%= error %></p>
                <%end%>
              <%end%>
              <%= form_for @user_role, url: { action: "update" }, :html => {:multipart => true} do %>
                <%= render partial: "form", locals: {user_role: @user_role} %>
                <%= submit_tag "Update", class: 'btn btn-block btn-secondary' %>
              <% end -%>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

